body {
  text-align: center;
  padding:0;
  font-family: courier;
  font-size: 18;
}

input {
  margin: auto;
  margin-top: 45vh;
  width: 350px;
  padding: 1rem;
}

input[type='password'] {
  font-family: Verdana;
}

button {
  width: 2rem;
  height: 1rem;
  border-radius: 5px;
}
